{% extends "::base-layout.html.twig" %}

{% block title %}
{{ parent() }} to the calculator
{% endblock %}

{% block body %}
<h1>Welcome to the Calculator:add page</h1>
    Le résultat du calcul : {{ n1 }} plus {{ n2 }} est égal à {{ result }}
{% endblock %}
