{% extends "::base-layout.html.twig" %}

{% block title %}AppBundle:Calculator:substract{% endblock %}

{% block body %}
<h1>Welcome to the Calculator:substract page</h1>
    Le résultat du calcul de {{ n1 }} moins {{ n2 }} est égal à {{ result }}
{% endblock %}
